.link {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 600;
  text-decoration: none;
  color: $color-gray-600;
  padding: 0.8rem 1.2rem;

  &_active {
    color: $color-brand-600;
    background-color: #f5f8ff;
    border-radius: 0.6rem;
  }
}
