*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif; }

body {
  scroll-behavior: smooth; }

@font-face {
  font-family: "CodeNext-Trial-ExtraBold";
  src: url("/src/assets/fonts/CodeNext-Trial-ExtraBold.woff") format("woff");
  font-weight: extrabold; }

.logo {
  font-family: "CodeNext-Trial-ExtraBold";
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: 0.01em;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 1rem; }
  .logo__img {
    width: 3.2rem;
    height: 3.2rem; }

.btn {
  background: transparent;
  border: 0;
  cursor: pointer; }

.link {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 600;
  text-decoration: none;
  color: #516778;
  padding: 0.8rem 1.2rem; }
  .link_active {
    color: #155eef;
    background-color: #f5f8ff;
    border-radius: 0.6rem; }

.profile__img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 3.2rem; }
  .header__settings {
    display: flex;
    align-items: center;
    gap: 1.6rem; }
  .header__links {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    list-style: none; }
